html,
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  color: black;
}

.logofiado {
  left: 47%;
  position: absolute;
  top: 10px;
}

#footer {
    bottom: -200px;
  height: 100px;
  position: absolute;
}

#cadastroForm_id {
  display: inline-block;
  position: relative;
}

.mainform {
  position: absolute;
  text-align: center;
  top: 198px;
  width: 100%;
}
#div_footer {
  height: 10px;
  background-color: black;
}

input {
  background-color: #d9d9d9;
  
}
