.toggleWrapper {
  position: absolute;
  top: 26px;
  overflow: hidden;
  margin-left: -130px;
  padding: 0 200px;
  transform: translate3d(-50%, -50%, 0);
  color: white;
  width: 210px;
  padding: 30px 30px 30px 60px;
}

.toggleWrapper input {
  position: absolute;
  left: -99em;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: #83d8ff;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:before {
  content: "AM";
  position: absolute;
  left: -50px;
  top: 15px;
  font-size: 18px;
}

.toggle:after {
  content: "PM";
  position: absolute;
  right: -48px;
  top: 15px;
  font-size: 18px;
  color: #749ed7;
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.toggle__handler .crater--1 {
  top: 18px;
  left: 10px;
  width: 4px;
  height: 4px;
}

.toggle__handler .crater--2 {
  top: 28px;
  left: 22px;
  width: 6px;
  height: 6px;
}

.toggle__handler .crater--3 {
  top: 10px;
  left: 25px;
  width: 8px;
  height: 8px;
}

.star {
  position: absolute;
  background-color: #fff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}

.star--3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

input:checked + .toggle {
  background-color: #749dd6;
}

input:checked + .toggle:before {
  color: #749ed7;
}

input:checked + .toggle:after {
  color: #fff;
}

input:checked + .toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(40px, 0, 0) rotate(0);
}

input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}

input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}

input:checked + .toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}

input:checked + .toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}

input:checked + .toggle .star--4,
input:checked + .toggle .star--5,
input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
body {
  background-color: white;
  color: black;
  position: relative;
}
.dark-mode {
  background-color: black;
  color: white;
}

.header {
  background-color: var(--header-bg);
  color: white;
}
.dark-mode .header {
  --header-bg: white;
  --text-header: black;
  
}
.dark-mode .linha{
  --line-color:white;
}
:root {
  --header-bg: black;
  --text-header: white;
  --line-color: black;
}
.header-text {
  color: var(--text-header);
  text-decoration: none;
}
.header-text:hover {
  color: #FEC63F;  
}

h1 {  
  width: 637px;
  height: 80px;
  left: 97px;
  top: 221px;
  padding: 20px;
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 80px;
}
.linha {
  position: relative;
  width: 580px;
  height: 0px;
  right: 351px;
  top: 266px;
  border: 1px solid var(--line-color);
  transform: rotate(90deg);
}
h2 {
  width: 191px;
  height: 114px;
  margin-left: 70px;
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
}
h3 {
  width: 355px;
  height: 63px;
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
.qr-code {
  width: 220px;
  height: 220px;
  margin-left: 50px;
  margin-bottom: 10px;
  background: url("../img/qrcode.png");
}
.btn-qr {
  width: 330px;
  height: 50px;
  left: 1460px;
  top: 825px;
  background: #0a3079;
  border-radius: 52px;
  color: white;
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
}
.btn-qr:hover{
  background: #011740;
}
